<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395522983357-139knhmm2r87eumdlv6q4cjc0ijsoep6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395522983357-139knhmm2r87eumdlv6q4cjc0ijsoep6</string>
	<key>API_KEY</key>
	<string>AIzaSyBE4hQpgalTE3JgFSmHJVFatG_sXRPHJR0</string>
	<key>GCM_SENDER_ID</key>
	<string>395522983357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>laboratoria.cinema</string>
	<key>PROJECT_ID</key>
	<string>spotirank-9c64a</string>
	<key>STORAGE_BUCKET</key>
	<string>spotirank-9c64a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395522983357:ios:e24af4925a5188d7bd7ed4</string>
	<key>DATABASE_URL</key>
	<string>https://spotirank-9c64a.firebaseio.com</string>
</dict>
</plist>